In [1]:
import pandas as pd
df = pd.read_csv(r'/Users/shreyasanand/Downloads/adult.csv')

In [3]:
df['age'].astype('float')

0        25.0
1        38.0
2        28.0
3        44.0
4        18.0
         ...
48837    27.0
48838    40.0
48839    58.0
48840    22.0
48841    52.0
Name: age, Length: 48842, dtype: float64

In [7]:
df['education'] = df['education'].astype('category')

In [9]:
df['education-codes'] = df['education'].cat.codes

In [10]:
df['education-codes']

0         1
1        11
2         7
3        15
4        15
         ..
48837     7
48838    11
48839    11
48840    11
48841    11
Name: education-codes, Length: 48842, dtype: int8

In [11]:
df['education'].cat.categories

Index(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype='object')

In [14]:
df.join(pd.get_dummies(df['education']))

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,...,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,...,0,0,0,0,0,0,0,0,0,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,...,0,0,0,0,0,1,0,0,0,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,...,0,1,0,0,0,0,0,0,0,0
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,...,0,0,0,0,0,0,0,0,0,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,...,0,1,0,0,0,0,0,0,0,0
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,0,0,0,0,0,1,0,0,0,0
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,0,0
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,...,0,0,0,0,0,1,0,0,0,0
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
df['']